body {
    align-items: center;
    text-align: center;
}

.playingto {
    padding-bottom: 1%;
}

.green {
    color : green;
}

.red {
    color : red;
}

.buttons {
    text-align: center;
    display : inline-block;
}

/* div {
    display : inline-block;
    text-align: center;
} */