body {
    align-items: center;
    text-align: center;
}

/* .playingto {
    padding-bottom: 1%;
} */

.green {
    color : green;
}

.red {
    color : red;
}

.card-header-title {
    text-align: center;
}
